@model AM.ApplicationCore.Domain.Flight
<div>
    <dl class="row">
        <dt>type avion </dt>
        <dl>@Model.Plane.PlaneType</dl>
        <dl>Capacity Avion</dl>
        <dl>@Model.Plane.Capacity</dl>
    </dl>
</div>